{%for f in faculties %}
<tr>
    <td>{{f.FacultyIdNo}}</td>
    <td>{{f.FacultyName}}</td>
    <td>{{f.Gender}}</td>
    <td>{{f.Position}}</td>
    <td>{{f.Designation}}</td>
    <td>{{f.DeloadUnit}}</td>
    <td>{{f.Department}}</td>

    <td>
        <button class="btn btn-primary btn-sm js-edit-faculty" title="Title" data-url="{% url "edit-faculty" f.pk %}">
            <i class="fas fa-edit">Edit</i>
        </button>
        <button class="btn btn-primary btn-sm js-delete-faculty" title="Title1" data-url="{% url "delete-faculty" f.pk %}">
            <i class="fas fa-trash">Delete</i>
        </button>
    </td> 
</tr>
{%endfor%}